 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 5px 5px;
  grid-auto-columns: calc(25% - 3.75px);
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  min-height: 199px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 9px;
}

.u-section-1 .u-image-1 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 8px 7px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 9px;
}

.u-section-1 .u-image-2 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 7px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-1 .u-image-3 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 8px 7px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 9px;
}

.u-section-1 .u-image-4 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 8px 7px 0;
}

.u-section-1 .u-list-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 5px 5px;
  grid-auto-columns: calc(25% - 3.75px);
  grid-template-columns: calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px) calc(25% - 3.75px);
  min-height: 199px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 9px;
}

.u-section-1 .u-image-5 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 8px 7px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 9px;
}

.u-section-1 .u-image-6 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 8px 7px 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 9px;
}

.u-section-1 .u-image-7 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 8px 7px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 9px;
}

.u-section-1 .u-image-8 {
  height: 193px;
  width: 221px;
  margin: 0 auto;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 8px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 3.75px));
    min-height: 164px;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    padding: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    padding: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(4, calc(25% - 3.75px));
    min-height: 164px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
    min-height: 512px;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
    min-height: 512px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 100%;
  }
}

.admin {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  float: Right;
}